<div class="share-button">
    <a href="#">Share this Post</a>
    <div class="icon-wrapper">
        <ul>
            <li>
                <a href="https://twitter.com/share" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a data-url="{{ content.absolute_url }}" href="https://facebook.com/sharer/sharer.php?" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#" onclick="javascript:window.open('https://www.linkedin.com/shareArticle?mini=true&amp;url={{ content.absolute_url }}&amp;title=','popup','width=600,height=600');" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://plus.google.com/share?url={{%20content.absolute_url%20}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
                <a href="mailto:info@silvertech.com"><i class="fa fa-link"></i></a>
            </li>
            <li>
                <a class="close-social-icons" href="#"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>
</div>